
.animed {
  /* opacity: 0; 
  animation-duration: 0.8s;
  animation-fill-mode: forwards; */

   -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
  -webkit-animation-delay: 0.5s;
  -moz-animation-delay: 0.5s;
  animation-delay: 0.5s;
}
/*==== FADE IN UP ===*/
@-webkit-keyframes fadeInUp {
  from {
    opacity: 0;
    -webkit-transform: translate3d(0, 100%, 0);
    transform: translate3d(0, 100%, 0);
  }

  to {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
  }
}
@keyframes fadeInUp {
  from {
    opacity: 0;
    -webkit-transform: translate3d(0, 100%, 0);
    transform: translate3d(0, 100%, 0);
  }

  to {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
  }
}

.fadeInUp {
  -webkit-animation-name: fadeInUp;
  animation-name: fadeInUp;
}

/* .anim {
  animation: animatedkey 0.6s ease-out forwards;
  opacity: 0;
  transform: translateY(22px);
  animation-fill-mode: forwards;
  overflow:hidden
}


@keyframes animatedkey {
  to {
    opacity: 1;
    transform: translateY(0);
  }
} */

/* .anim {
  opacity: 0;
  transform: translateY(22px);
  animation: animatedkey 0.6s ease-out forwards;
  visibility: hidden;
  will-change: transform, opacity;
}

@keyframes animatedkey {
  to {
    opacity: 1;
    transform: translateY(0);
    visibility: visible;
  }
} */

.fade-in-image {
  opacity: 0;
  transition: opacity 1s ease-in-out;
}

.fade-in-image.loaded {
  opacity: 1;
}


.text-anim span {
  opacity: 0;
  transition: opacity 0.3s ease;
}

.text-anim span.visible {
  opacity: 1;
}

.blink {
  display: inline-block;
  margin-left: 2px;
  animation: blinkkey 1s step-start infinite;
}

@keyframes blinkkey {
  0%,
  49% {
    opacity: 1;
  }
  50%,
  100% {
    opacity: 0;
  }
}
